USE [master]
GO
/****** Object:  Database [BBMS Database]    Script Date: 05/05/2024 8:48:44 pm ******/
CREATE DATABASE [BBMS Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BBMS Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BBMS Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BBMS Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BBMS Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BBMS Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BBMS Database]
GO
/****** Object:  Table [dbo].[BloodTbl]    Script Date: 05/05/2024 8:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BloodTbl](
	[BGroup] [varchar](5) NOT NULL,
	[BStock] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BGroup] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonorTbl]    Script Date: 05/05/2024 8:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonorTbl](
	[DNum] [int] IDENTITY(100,1) NOT NULL,
	[DName] [varchar](50) NOT NULL,
	[DAge] [int] NOT NULL,
	[DGender] [varchar](10) NOT NULL,
	[DPhone] [varchar](50) NOT NULL,
	[DAddress] [varchar](50) NOT NULL,
	[DBGroup] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeTbl]    Script Date: 05/05/2024 8:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeTbl](
	[EmpNum] [int] IDENTITY(1,1) NOT NULL,
	[EmpId] [varchar](50) NOT NULL,
	[EmpPass] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PatientTbl]    Script Date: 05/05/2024 8:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientTbl](
	[PNum] [int] IDENTITY(500,1) NOT NULL,
	[PName] [varchar](50) NOT NULL,
	[PAge] [int] NOT NULL,
	[PPhone] [varchar](50) NOT NULL,
	[PGender] [varchar](10) NOT NULL,
	[PBGroup] [varchar](5) NOT NULL,
	[PAddress] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransferTbl]    Script Date: 05/05/2024 8:48:44 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferTbl](
	[TNum] [int] IDENTITY(1,1) NOT NULL,
	[PName] [varchar](50) NOT NULL,
	[BGroup] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TransferTbl] PRIMARY KEY CLUSTERED 
(
	[TNum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
